* {
    box-sizing: border-box;    
    margin: 0%;    
}

html {
    scroll-padding-top: 90px;
}

body {
    background: rgb(14,61,134);
    background: linear-gradient(0deg, rgba(14,61,134,1) 0%, rgba(0,31,80,1) 100%);
}

a:link {
    text-decoration: none;
}

#resume, #about, #contact, #work {
    margin: 1px;
}

/*Header Section */

header{
    width: 100%;
    height: 15%;
    position: sticky;
    top: 0;
    background: rgb(14,61,134);
    background: linear-gradient(0deg, rgba(14,61,134,1) 0%, rgba(0,31,80,1) 100%);
    display: flex;
    flex-wrap: wrap;
    z-index: 1;
    border-bottom: white 3px ridge;
}

.header-box {        
    align-items: center;   
    margin-bottom: 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100%;
    flex: 1 0; 
    
}

.header-box-2 {   
    height: 100%;
    flex: 3 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;   
    padding: 5px; 
   
}

.header-title {
    flex-basis: 100%;
    height: 100%;
    border-right: rgb(255, 255, 255) ridge 3px;   
    margin-bottom: 0%;
    align-items: left;   
}

.header-cards{
    flex-basis: 21%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;  
    align-items: center; 
}

.button {
    color: rgb(255, 255, 255);
    text-align: center;
    display: inline;
    line-height: 100%;
    font-size: 35px;
    cursor: pointer;
    padding: 10px;
    flex-basis: 90%;
    flex: 1 0;   
}

.button:hover {
    color:turquoise;
    background-color: white;
    border-radius: 5px;
}

header h2 {
    color: rgb(255, 255, 255);
    text-align: center;
    line-height: 100%;
    font-size: 50px;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 0%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-shadow: 2px 2px 2px rgb(77, 77, 77);     
}

/* Images Section */

.photos {
    width: 100%;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
}

.nav-header-image-1 {     
    height: 150px;
    margin: 0px;
    border: 0%;
    padding: 0%;
    flex: 8 0;
}

.nav-header-image-2 {    
    height: 150px;    
    margin: 0%;
    border: 0%;
    padding: 0%;
    flex: 1 0;   
}

/*About Me Section*/

.about {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.about-me {
    border: ivory solid 3px;
    width: 90%;          
}

.about-me-box {
    margin-bottom: 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;        
}

.about-me-box h2 {
    text-align: center;
    width: 20%;
    border-right: solid white 5px;
    padding: 5px;
    line-height: 250%;
    color: white;
    font-size: 49px;
}

.about-me-box p {
    text-align: justify;
    width: 80%;
    padding: 15px;
    color: white;
    font-size: 24px;
}

/*Work Section*/

.section-work {
    width: 100%;
    height: 100%;
    display: flex;  
    flex-wrap: wrap;  
    justify-content: center;   
}

.section-work a {
    color: black;
}

.section-box {    
    align-items: center;   
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 92%;
    justify-content: center;
}

/*Main Card*/

.section-main-card {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 96%;    
    text-align: center;
    margin: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin-bottom: -60px;
}

.section-main-card a {
    flex-basis: 33%;
    position: relative;
    top: -98px;
}

.section-main-card p {   
    background-color: none;   
    font-size: 3.15em;
    border-top: 10px black ridge;
    border-right: 10px black ridge;
    padding: 15px;
    background-color: rgb(163, 153, 153);    
}

.section-main-card img {
    height: 800px;
}

/*All other cards */

.section-cards {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 47%;
    text-align: center;
    margin: 15px;  
    display: flex;  
    flex-wrap: wrap;
    margin-bottom: -60px;
}

.section-cards p {   
    background-color: none;   
    font-size: 2.15em;
    border-top: 10px black ridge;
    border-right: 10px black ridge;
    padding: 15px;
    background-color: rgb(163, 153, 153);    
}

.section-cards a {
    flex-basis: 33%;
    position: relative;
    top: -79px;
    z-index: 0;
}

section img {
    height: 600px;
    width: 100%;
}

/* Contact & About Me */

section h2 {
    font-size: 35px;
}

/*Footer*/

footer img {
    height: 200px;
    margin-bottom: 0%;
    border: 0%;
    position: relative;
    bottom: -7px;
}

/*Media Queries*/

@media screen and (max-width: 1796px) {
    .section-main-card a {
        top:-155px;
  }
}

@media screen and (max-width: 768px) {
    header h2 {
        font-size: 35px;
    }
    .button {
        font-size: 20px;
    }
    .photos {
        margin-bottom: -50px;
    }
    .section-main-card a{
        top: -212px;
    }
    .about-me-box h2 {
        font-size: 20px;
    }
    .about-me-box p {
        font-size: 16px;
    }
    .section-main-card {
        margin-bottom: -190px;
    }
    section img {
        height: 400px;
    }
    .section-main-card img {
        height: 400px;
    }
    .section-cards {
        flex-basis: 100%;
    }
    footer img {
        height: 150px;
    }
    .nav-header-image-1 {  
        height: 100px;  
        flex-basis: 86%;       
    }    
    .nav-header-image-2 {  
        height: 100px;  
        flex-basis: 13%;          
    }
}

@media screen and (max-width: 576px) {
    header h2 {
        font-size: 20px;
    }
    .button {
        font-size: 15px;
    }
    .photos {
        margin-bottom: -100px;
    }
    footer img {
        height: 100px;
    }
    .nav-header-image-1 {    
        height: 50px;
    }    
    .nav-header-image-2 {    
        height: 50px;   
    }   
}

@media screen and (max-width: 542px) {
    header h2 {
        font-size: 16px;
    }
    .button {
        font-size: 11px;
    }
    .about-me-box h2 {
        font-size: 15px;
    }
    .about-me-box p {
        font-size: 12px;
    }
    .section-cards {
        margin-bottom: -100px;
    }
    .section-cards a{
        top: -117px;
    }
    section img {
        height: 300px;
    }
    .section-main-card img {
        height: 300px;
    }
    footer img {
        height: 100px;
    }
    
}



